obj/Debug/net8.0/AMBEV-OrderService.AssemblyInfo.cs
obj/Debug/net8.0/AMBEV-OrderService.AssemblyInfoInputs.cache
bin/Debug/net8.0/AMBEV-OrderService.dll
bin/Debug/net8.0/AMBEV-OrderService.exe
bin/Debug/net8.0/AMBEV-OrderService.pdb
bin/
obj/
bin
obj
obj/AMBEV-OrderService.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/AMBEV-Or.CA3AD47D.Up2Date
obj/Debug/net8.0/AMBEV-OrderService.AssemblyInfo.cs
obj/Debug/net8.0/AMBEV-OrderService.AssemblyInfoInputs.cache
obj/Debug/net8.0/AMBEV-OrderService.assets.cache
obj/Debug/net8.0/AMBEV-OrderService.csproj.AssemblyReference.cache
obj/Debug/net8.0/AMBEV-OrderService.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/AMBEV-OrderService.csproj.FileListAbsolute.txt
obj/Debug/net8.0/AMBEV-OrderService.dll
obj/Debug/net8.0/AMBEV-OrderService.genruntimeconfig.cache
obj/Debug/net8.0/AMBEV-OrderService.pdb
obj/Debug/net8.0/AMBEV-OrderService.sourcelink.json
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/ref/AMBEV-OrderService.dll
obj/Debug/net8.0/refint/AMBEV-OrderService.dll
obj/Debug/net8.0/staticwebassets/msbuild.build.AMBEV-OrderService.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.AMBEV-OrderService.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.AMBEV-OrderService.props
